.header_Body img{
    height: 100px;
    width: 100px;
}
.navigate{
    float: right;

}
.navigate li{
    display: inline-block;
    margin: 30px;
}
.header_Body{
    border: 1px solid green;
}
